<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.kiy.app.test_project"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PackageTestActivity">
        </activity>
        <activity android:name="video.UniversalVideoViewActivity">
        </activity>
        <activity android:name="video.VideoViewActivity">
        </activity>
        <activity android:name=".Base64Activity">
        </activity>
        <activity android:name=".CaptchaActivity">
        </activity>
        <activity android:name="video.ExoPlayerActivity">
        </activity>
        <activity android:name=".EXOPlayer2Activity">
        </activity>

        <service
            android:name="util.MyAccessibilityService"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>
        <service
            android:name="util.MyNotificationListener"
            android:enabled="true"
            android:exported="true"
            android:label="noti_check_service"
            android:permission="BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <activity android:name=".CalendarActivity">
        </activity>
        <activity android:name="facebook.NativeAdListActivity">
        </activity>
        <activity android:name=".DozeCheckActivity">
        </activity>
        <activity android:name=".ImageViewMatrixActivity">
        </activity>
        <activity android:name=".NotificationCheckActivity">
        </activity>

        <service
            android:name="util.NotifiListenerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <activity android:name=".SettingChangeActivity">
        </activity>
    </application>

</manifest>